:root {
  --background: #0f1015;
  --foreground: var(--background);
  --card: #1b1e28;
  --card-foreground: var(--background);
  --popover: #1b1e28;
  --popover-foreground: var(--background);
  --primary: #4571d9;
  --primary-foreground: var(--background);
  --secondary: #272c3f;
  --secondary-foreground: var(--background);
  --muted: #272c3f;
  --muted-foreground: #abb4ce;
  --accent: #2d354d;
  --accent-foreground: var(--background);
  --destructive: #7f1d1d;
  --destructive-foreground: var(--background);
  --border: #2d354d;
  --input: #2d354d;
  --ring: #4571d9;
  --radius: 0.5rem;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #0f1015;
  --foreground: var(--background);
  --card: #1b1e28;
  --card-foreground: var(--background);
  --primary: #4571d9;
  --primary-foreground: var(--background);
  --muted: #272c3f;
  --muted-foreground: #abb4ce;
  --border: #2d354d;
}
